extends layout

block content
  h1 An addressbook

  #wrapper

    #userList
      table
        thead
          th UserName
          th Email
          th Delete?
        tbody


    #userInfo
      form#userInfoForm(method="post" enctype="multipart/form-data")
      fieldset(style="text-align:right;")
        legend
          h2 User Info
        label User Name: 
        input#inputUserName(type='text', placeholder='Username')
        br
        input#inputUserEmail(type='text', placeholder='Email')
        br
        input#inputUserFullname(type='text', placeholder='Full Name')
        br
        input#inputUserAge(type='text', placeholder='Age')
        br
        input#inputUserLocation(type='text', placeholder='Location')
        br
        input#inputUserGender(type='text', placeholder='gender')
        br
        textarea#textareaUserNotes(placeholder='Notes', rows='6', cols='36')
        br
        button#btnDelete Delete
        button#btnModify Modify
