extends layout

block content
  h1 An addressbook

  #wrapper

    #dialog-form(title='New/Modify user')
      form
        p(class="validateTips") All fields required except "Notes".
        fieldset(style="text-align:right;")
          #UserAvatar
          label User Id: 
          input#popupUserId(type='text', placeholder='User Id' value="" class="text ui-widget-content ui-corner-all")
          br
          label Email: 
          input#popupUserEmail(type='text', placeholder='Email')
          br
          label Full Name: 
          input#popupUserFullname(type='text', placeholder='Full Name')
          br
          label Age: 
          input#popupUserAge(type='text', placeholder='Age')
          br
          label Location: 
          input#popupUserLocation(type='text', placeholder='Location')
          br
          label Gender: 
          input#popupUserGender(type='text', placeholder='Gender')
          br
          br
          textarea#popupUserNotes(placeholder='Notes', rows='6', cols='36')
          br

          span(class="btn btn-success fileinput-button")
            i(class="glyphicon glyphicon-plus")
            span Select avata image...
            input#fileupload(type="file" name="files[]" multiple)
          #progress(class="progress")
            #progressbar(class="progress-bar progress-bar-success")
          #avatar
            #avatarImg
            input#avatarId(type='hidden')


    #userList
      button#add-user Add User
      table
        thead
          th UserName
          th Email
          th Delete?
        tbody


    #userInfo
      button#btnDelete Delete
      button#btnModify Modify
      input#db_id(type='hidden')
      input#is_modify(type='hidden')

      article(class="contact-container")
        #UserAvatar
        h1
          span#name
          span#category
        #address
        dl
          dt Nick
          dd#nick
          dt Mobile
          dd#mobile
          dt Email
          dd#email
          dt Birthday
          dd#birthday
          dt Gender
          dd#gender
          dt Notes
          dd#notes
